// size/spacing values (Including the border-width)
$size-8: 0.5rem;
$size-12: 0.75rem; // (not in design)
$size-16: 1rem;
$size-20: 1.25rem;
$size-32: 2rem;
$size-36: 2.25rem;

// simple reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  text-align: center;
}

.container {
  width: min(100% - 2rem, 60rem);
  margin-inline: auto;
}

.pricing_plans {
  display: flex;
}

.tier {
  flex: 1;
  display: grid;
  grid-gap: $size-20;
}

.page-title {
  margin-block: $size-32;
}

.button {
  justify-self: center;
}
